<div class="dropdown-header bg-light"><strong>You have 5 notifications</strong></div>
<a class="dropdown-item" href="#">
    <i class="c-icon mfe-2 text-success cil-user-follow">
        <use xlink:href="../Views/CoreUI/vendors/@@coreui/icons/svg/free.svg#cil-user-follow"></use>
    </i> New user registered
</a>
<a class="dropdown-item" href="#">
    <i class="c-icon mfe-2 text-danger cil-user-unfollow">
        <use xlink:href="../Views/CoreUI/vendors/@@coreui/icons/svg/free.svg#cil-user-unfollow"></use>
    </i> User deleted
</a>
<a class="dropdown-item" href="#">
    <i class="c-icon mfe-2 text-info cil-chart cil-chart">
        <use xlink:href="../Views/CoreUI/vendors/@@coreui/icons/svg/free.svg#cil-chart"></use>
    </i> Sales report is ready
</a>
<a class="dropdown-item" href="#">
    <i class="c-icon mfe-2 text-success cil-basket">
        <use xlink:href="../Views/CoreUI/vendors/@@coreui/icons/svg/free.svg#cil-basket"></use>
    </i> New client
</a>
<a class="dropdown-item" href="#">
    <i class="c-icon mfe-2 text-warning cil-speedometer">
        <use xlink:href="../Views/CoreUI/vendors/@@coreui/icons/svg/free.svg#cil-speedometer"></use>
    </i> Server overloaded
</a> 